#realisateur{
    padding-top: 400px;
}
#titlenatur {
    margin-bottom: -1px;
}
div#carousel {
    margin-left: 31.5%;
    width: 500px;
    height: 500px;
    /* justify-content: right; */
    /* align-items: self-start; */
    display: flex;
    text-align: center;
}
.d-block{
    height: 500px !important;
}
#postbutton{
    background-color: blue !important;
}
#postbutton1{
    background-color: gray !important;
}
.mx-auto.mt-8.flex.w-full.justify-center.px-4.md\:w-4\/12.lg\:mt-0 {
    margin-bottom: 73px;
}
.items-center {
    align-items: baseline !important;

}
#mesfilm {
    margin-left: 88px !important;
    margin-top: 44px;
    margin-bottom: -100px;
}
#postbutton1 {
    background-color: rgb(255, 196, 0) !important;
    margin-bottom: 30px !important;
}
#postbutton2{
        background-color: rgb(255, 0, 0) !important;
        float: right !important;
}
#myimages{
    width: 600px;
    height: 300px;
    margin-bottom: 10px !important;
}
#mycarouselsect{
    margin: 40px;
}
#postbutton3{
            float: right !important;
            background-color: rgb(255, 196, 0) !important;
}
#origincol{
    margin-bottom: 50px;
}
#mybuttons{
    justify-content: space-between;
}